<app-nav></app-nav>
<h1 class="text-dark text-center"
  style="padding: 10px; font-weight: bold; font-family: 'Times New Roman', Times, serif; margin-bottom: -0.5em;">
  Services</h1>

<div class="main">
  <!--cards -->
  <div class="card ">
    <div class="image">
      <img
        src="https://www.shutterstock.com/image-photo/tour-packages-concept-collage-travel-260nw-641820484.jpg" />
    </div>
    <div class="title">
      <h1 class="card-title">Tour Packages</h1>
    </div>
    <div class="des">
      <p>
        Explore our curated tour packages for destinations worldwide. 
        Choose from group tours, family packages, or solo travel adventures.
      </p>
      <button (click)="login()">Explore</button>
    </div>
  </div>
  <!--cards -->

  <div class="card">
    <div class="image">
      <img
        src="https://tse3.mm.bing.net/th?id=OIP.4yVQWed-MXEjK6jjziQlxQHaEK&pid=Api&P=0&h=180" />
    </div>
    <div class="title">
      <h1 class="card-title">Local Transportation</h1>
    </div>
    <div class="des">
      <p>
        Find reliable transportation options, 
        including car rentals,
        
      <button (click)="login()">View Options</button>
    </div>
  </div>
  <!--cards -->

  <div class="card">
    <div class="image">
      <img
        src="https://tse1.mm.bing.net/th?id=OIP.4tECCME5KngaNiy-VV_LlQHaEN&pid=Api&P=0&h=180"/>
    </div>
    <div class="title">
      <h1 class="card-title">Hotel Booking</h1>
    </div>
    <div class="des">
      <p>
        Book your stay with our hotel booking service.
        From luxury accommodations to budget-friendly stays, we’ve got you covered.
      </p>
      <button (click)="login()">Book Now</button>
    </div>
  </div>
  <!--cards -->

  <div class="card">
    <div class="image">
      <img src="https://tse1.mm.bing.net/th?id=OIP.S6TAxBRg4BV-hO06ofX95QHaD4&pid=Api&P=0&h=180" />
    </div>
    <div class="title">
      <h1 class="card-title">Guided Tours </h1>
    </div>
    <div class="des">
      <p>
        Experience your destination through expert-led guided tours.
        Explore famous landmarks, hidden gems, and local hotspots with knowledgeable guides.
      </p>
      <button (click)="login()">Book a tour </button>
    </div>
  </div>



</div>
<app-footer></app-footer>